/* Main styles */

/* SourceCodePro Regular */

@font-face {
  font-family: 'SourceCodeProRegular';
  src: url("../fonts/SourceCodeProRegular.eot");
  src: url("../fonts/SourceCodeProRegular.eot") format("embedded-opentype"), url("../fonts/SourceCodeProRegular.woff2") format("woff2"), url("../fonts/SourceCodeProRegular.woff") format("woff"), url("../fonts/SourceCodeProRegular.ttf") format("truetype"), url("../fonts/SourceCodeProRegular.svg#SourceCodeProRegular") format("svg");
}

/* ProximaNova Regular */

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular.eot") format("embedded-opentype"), url("../fonts/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg");
}

/* ProximaNova Thin */

@font-face {
  font-family: 'ProximaNovaThin';
  src: url("../fonts/ProximaNovaThin.eot");
  src: url("../fonts/ProximaNovaThin.eot") format("embedded-opentype"), url("../fonts/ProximaNovaThin.woff2") format("woff2"), url("../fonts/ProximaNovaThin.woff") format("woff"), url("../fonts/ProximaNovaThin.ttf") format("truetype"), url("../fonts/ProximaNovaThin.svg#ProximaNovaRegular") format("svg");
}

/* ProximaNova Bold */

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold.eot") format("embedded-opentype"), url("../fonts/ProximaNovaBold.woff2") format("woff2"), url("../fonts/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNovaBold.svg#ProximaNovaRegular") format("svg");
}

/* animation */

/* border radius */

/* box shadow */

/* box sizing */

/* backface visibility */

/* calculate */

/* clearfix */

/* filter */

/* flexbox */

/* font smoothing */

/* font styles */

/* text stroke */

/* transform */

/* transform style */

/* transition */

/* opacity */

/* placeholder */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Color */

/* Background */

/* Border */

/* Break point */

/* Font */

/* Layout */

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* line 11, scss/base/_normalize.scss */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

/* line 23, scss/base/_normalize.scss */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

/* line 32, scss/base/_normalize.scss */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/* line 45, scss/base/_normalize.scss */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* line 56, scss/base/_normalize.scss */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

/* line 68, scss/base/_normalize.scss */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/* line 77, scss/base/_normalize.scss */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

/* line 87, scss/base/_normalize.scss */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* line 97, scss/base/_normalize.scss */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

/* line 108, scss/base/_normalize.scss */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* line 117, scss/base/_normalize.scss */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 125, scss/base/_normalize.scss */

sub {
  bottom: -0.25em;
}

/* line 129, scss/base/_normalize.scss */

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

/* line 140, scss/base/_normalize.scss */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

/* line 152, scss/base/_normalize.scss */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

/* line 168, scss/base/_normalize.scss */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

/* line 178, scss/base/_normalize.scss */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

/* line 187, scss/base/_normalize.scss */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

/* line 198, scss/base/_normalize.scss */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

/* line 210, scss/base/_normalize.scss */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/* line 221, scss/base/_normalize.scss */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

/* line 232, scss/base/_normalize.scss */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/* line 245, scss/base/_normalize.scss */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

/* line 253, scss/base/_normalize.scss */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

/* line 262, scss/base/_normalize.scss */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

/* line 272, scss/base/_normalize.scss */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

/* line 282, scss/base/_normalize.scss */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

/* line 291, scss/base/_normalize.scss */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

/* line 300, scss/base/_normalize.scss */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/* line 312, scss/base/_normalize.scss */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

/* line 320, scss/base/_normalize.scss */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

/* line 331, scss/base/_normalize.scss */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

/* line 339, scss/base/_normalize.scss */

[hidden] {
  display: none;
}

/* Typography styles */

/* line 2, scss/base/_typography.scss */

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, scss/base/_typography.scss */

body {
  background: #ffffff;
  color: #474747;
  font-size: 16px;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/* line 14, scss/base/_typography.scss */

body.sidebar_visible {
  overflow: hidden;
}

/* line 19, scss/base/_typography.scss */

a {
  text-decoration: none;
}

/* line 23, scss/base/_typography.scss */

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

/* line 30, scss/base/_typography.scss */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 36, scss/base/_typography.scss */

p {
  margin: 0;
}

/* Buttons styles */

/* line 2, scss/components/_buttons.scss */

.button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  /* Desktop */
}

/* line 8, scss/components/_buttons.scss */

.button:focus {
  outline: none;
}

@media only screen and (min-width: 1200px) {
  /* line 14, scss/components/_buttons.scss */

  .button_desktop_hidden {
    display: none;
  }
}

/* Tables styles */

/* line 2, scss/components/_tables.scss */

.table {
  border-collapse: collapse;
}

/* line 5, scss/components/_tables.scss */

.table__heading {
  font-size: 13px;
  font-family: 'ProximaNovaBold', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
}

/* line 13, scss/components/_tables.scss */

.table__column {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
}

/* line 21, scss/components/_tables.scss */

.table__code {
  border: 1px solid #dfdfdf;
  background: #f9fafd;
  color: #f92672;
  font-family: 'SourceCodeProRegular', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 2px 5px;
}

/* line 29, scss/components/_tables.scss */

.table__text_grey {
  color: #9fa4a6;
}

/* line 33, scss/components/_tables.scss */

.table__text_red {
  color: #f46228;
}

/* Links styles */

/* line 2, scss/components/_links.scss */

.link {
  color: #3a72c7;
}

/* line 5, scss/components/_links.scss */

.link:hover {
  text-decoration: underline;
}

/* Header styles */

/* line 2, scss/layout/_header.scss */

.header {
  background: #21252b;
  height: 76px;
  width: 100%;
  padding: 25px 38px;
  position: relative;
  /* Mobile */
}

/* line 9, scss/layout/_header.scss */

.header__logo {
  display: inline-block;
  vertical-align: top;
}

/* line 14, scss/layout/_header.scss */

.header__button {
  margin-top: -7px;
  position: absolute;
  right: 38px;
  top: 50%;
}

@media only screen and (max-width: 767px) {
  /* line 2, scss/layout/_header.scss */

  .header {
    height: 64px;
    padding: 23px 20px;
  }

  /* line 26, scss/layout/_header.scss */

  .header__logo {
    max-width: 182px;
  }

  /* line 30, scss/layout/_header.scss */

  .header__button {
    right: 20px;
  }
}

/* Sidebar styles */

/* line 2, scss/layout/_sidebar.scss */

.sidebar {
  background: #f9fcfd;
  display: block;
  height: 100vh;
  width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 60px 20px;
  position: fixed;
  right: -320px;
  top: 0;
  z-index: 11;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 16, scss/layout/_sidebar.scss */

.sidebar.shown {
  right: 0;
}

/* line 20, scss/layout/_sidebar.scss */

.sidebar_close {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* line 29, scss/layout/_sidebar.scss */

.sign-up__link {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #474747;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  padding: 12px 22px;
}

/* line 39, scss/layout/_sidebar.scss */

.sign-up__text {
  color: #474747;
  font-size: 13px;
  line-height: 36px;
}

/* line 46, scss/layout/_sidebar.scss */

.menu {
  padding: 30px 0;
}

/* line 49, scss/layout/_sidebar.scss */

.menu__title {
  display: block;
  color: #7a8387;
  font-size: 12px;
  font-family: 'ProximaNovaBold', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 40px 0 0;
}

/* line 57, scss/layout/_sidebar.scss */

.menu__title:first-child {
  margin: 0;
}

/* line 62, scss/layout/_sidebar.scss */

.menu__list {
  margin: 10px 0 0;
}

/* line 68, scss/layout/_sidebar.scss */

.menu__item_active .menu__link {
  color: #3a72c7;
}

/* line 73, scss/layout/_sidebar.scss */

.menu__item_active .menu__subitem:first-child {
  position: relative;
}

/* line 76, scss/layout/_sidebar.scss */

.menu__item_active .menu__subitem:first-child:before {
  content: '';
  display: block;
  background: url("../images/shape.png") no-repeat center transparent;
  height: 10px;
  width: 10px;
  margin: -5px 0 0;
  position: absolute;
  left: -20px;
  top: 50%;
}

/* line 92, scss/layout/_sidebar.scss */

.menu__link,
.menu__sublink {
  color: #474747;
  display: block;
  line-height: 30px;
}

/* line 99, scss/layout/_sidebar.scss */

.menu__sublist {
  padding-left: 30px;
}

/* Desktop */

@media only screen and (min-width: 1200px) {
  /* line 106, scss/layout/_sidebar.scss */

  .sidebar {
    display: table-cell;
    width: 20%;
    padding: 0 38px;
    position: static;
  }

  /* line 113, scss/layout/_sidebar.scss */

  .sign-up {
    text-align: right;
    position: absolute;
    right: 38px;
    top: -56px;
  }

  /* line 48, scss/utilities/_mixins.scss */

  .sign-up:before,
  .sign-up:after {
    content: "";
    display: table;
  }

  /* line 53, scss/utilities/_mixins.scss */

  .sign-up:after {
    clear: both;
  }

  /* line 120, scss/layout/_sidebar.scss */

  .sign-up__link {
    background: none;
    border: 1px solid #949494;
    color: #949494;
    padding: 11px 21px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* line 127, scss/layout/_sidebar.scss */

  .sign-up__link_desktop_right {
    float: right;
    margin: 0 0 0 25px;
  }

  /* line 131, scss/layout/_sidebar.scss */

  .sign-up__link_desktop_right:hover {
    border-color: #ffffff;
  }

  /* line 137, scss/layout/_sidebar.scss */

  .sign-up__text {
    color: #949494;
  }
}

/* Navigation styles */

/* Info styles */

/* line 2, scss/layout/_info.scss */

.info {
  display: table-cell;
  width: 50%;
  padding: 30px 20px;
}

/* line 7, scss/layout/_info.scss */

.info__title {
  font-size: 52px;
  font-family: 'ProximaNovaThin', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px;
}

/* line 13, scss/layout/_info.scss */

.info__text {
  line-height: 30px;
}

/* line 17, scss/layout/_info.scss */

.info__heading {
  font-size: 22px;
  font-weight: normal;
  margin: 40px 0 15px;
}

/* line 22, scss/layout/_info.scss */

.info__heading_bold {
  font-family: 'ProximaNovaBold', sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* line 27, scss/layout/_info.scss */

.info__table_responsive {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 33, scss/layout/_info.scss */

.info__table {
  margin: 10px 0 0;
}

/* line 36, scss/layout/_info.scss */

.info__table .table__heading {
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 12px;
}

/* line 41, scss/layout/_info.scss */

.info__table .table__column {
  border-bottom: 1px solid #efeff0;
  padding: 20px 12px;
}

/* line 48, scss/layout/_info.scss */

.info__table .table__row:last-child .table__column {
  border-color: #c0c0c0;
}

/* line 56, scss/layout/_info.scss */

.info__result .table__column {
  font-size: 14px;
  line-height: 22px;
  padding: 20px 0;
}

/* line 61, scss/layout/_info.scss */

.info__result .table__column:last-child {
  padding-left: 25px;
}

/* Desktop */

@media only screen and (min-width: 1200px) {
  /* line 70, scss/layout/_info.scss */

  .info {
    width: 40%;
    min-height: 100vh;
    padding: 30px;
  }
}

/* Mobile */

@media only screen and (max-width: 767px) {
  /* line 79, scss/layout/_info.scss */

  .info {
    display: block;
    width: 100%;
    padding-top: 88px;
  }

  /* line 85, scss/layout/_info.scss */

  .info__table .table__heading {
    border-top: 1px solid #c0c0c0;
  }
}

/* Code api styles */

/* line 2, scss/layout/_code-api.scss */

.code-api {
  background: #21252b;
  display: table-cell;
  width: 50%;
}

/* line 7, scss/layout/_code-api.scss */

.code-api__code-box {
  margin: 20px 0 0;
}

/* line 10, scss/layout/_code-api.scss */

.code-api__code-box .hljs {
  background: #282c34;
  color: #ffffff;
  font-size: 13px;
  font-family: 'SourceCodeProRegular', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 0;
}

/* line 19, scss/layout/_code-api.scss */

.code-api__code-box .hljs-selector-tag,
.code-api__code-box .hljs-keyword {
  font-weight: 400;
}

/* line 25, scss/layout/_code-api.scss */

.code-api__code-box .hljs-selector-tag:first-child {
  color: #c678dd;
}

/* line 30, scss/layout/_code-api.scss */

.code-api__code-box .hljs-selector-class {
  color: #44a9fe;
}

/* line 34, scss/layout/_code-api.scss */

.code-api__code-box .hljs-keyword {
  color: #c678dd;
}

/* line 38, scss/layout/_code-api.scss */

.code-api__code-box .hljs-string {
  color: #a3e765;
}

/* line 43, scss/layout/_code-api.scss */

.code-api__iframe {
  color: #ffffff;
  line-height: 20px;
  padding: 30px 0;
  overflow: hidden;
}

/* line 51, scss/layout/_code-api.scss */

.tab-list {
  background: #282c34;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 48, scss/utilities/_mixins.scss */

.tab-list:before,
.tab-list:after {
  content: "";
  display: table;
}

/* line 53, scss/utilities/_mixins.scss */

.tab-list:after {
  clear: both;
}

/* line 58, scss/layout/_code-api.scss */

.tab-list__item {
  float: left;
  width: 20%;
}

/* line 64, scss/layout/_code-api.scss */

.tab-list__item_active .tab-list__link {
  color: #fec013;
}

/* line 67, scss/layout/_code-api.scss */

.tab-list__item_active .tab-list__link:before {
  background: #fec013;
}

/* line 73, scss/layout/_code-api.scss */

.tab-list__link {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 81, scss/layout/_code-api.scss */

.tab-list__link:before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 92, scss/layout/_code-api.scss */

.tab-list__link:hover {
  color: #fec013;
}

/* line 98, scss/layout/_code-api.scss */

.tab-content {
  padding: 30px 20px;
}

/* line 102, scss/layout/_code-api.scss */

.tab-detail {
  display: none;
}

/* line 105, scss/layout/_code-api.scss */

.tab-detail_active {
  display: block;
}

/* line 109, scss/layout/_code-api.scss */

.tab-detail__heading {
  display: block;
  color: #ffffff;
  font-family: 'ProximaNovaBold', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 30px 0 10px;
}

/* line 115, scss/layout/_code-api.scss */

.tab-detail__heading:first-child {
  margin-top: 0;
}

/* Desktop */

@media only screen and (min-width: 1200px) {
  /* line 123, scss/layout/_code-api.scss */

  .code-api {
    width: 40%;
    min-height: 100vh;
  }

  /* line 128, scss/layout/_code-api.scss */

  .tab-content {
    padding: 30px;
  }

  /* line 133, scss/layout/_code-api.scss */

  .tab-list__link {
    padding: 20px;
  }
}

/* Mobile */

@media only screen and (max-width: 767px) {
  /* line 141, scss/layout/_code-api.scss */

  .code-api {
    display: block;
    width: 100%;
  }

  /* line 146, scss/layout/_code-api.scss */

  .tab-list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* line 152, scss/layout/_code-api.scss */

  .tab-list__item {
    width: auto;
  }

  /* line 157, scss/layout/_code-api.scss */

  .tab-content {
    display: none;
  }
}

/* Home page styles */

/* line 2, scss/pages/_home.scss */

.main-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  /* Desktop */
  /* Mobile */
}

/* line 48, scss/utilities/_mixins.scss */

.main-content:before,
.main-content:after {
  content: "";
  display: table;
}

/* line 53, scss/utilities/_mixins.scss */

.main-content:after {
  clear: both;
}

/* line 9, scss/pages/_home.scss */

.main-content:before {
  content: '';
  display: block;
  background: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 24, scss/pages/_home.scss */

.sidebar_visible .main-content:before {
  z-index: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media only screen and (min-width: 1200px) {
  /* line 32, scss/pages/_home.scss */

  .main-content:before {
    content: '';
    display: block;
    border-left: 1px solid #ebf1f3;
    height: 100%;
    width: 0;
    position: absolute;
    left: 20%;
    top: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* line 2, scss/pages/_home.scss */

  .main-content {
    display: block;
  }
}