/* Home page styles */
.main-content {
    @include clearfix();
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;

    &:before {
        content: '';
        display: block;
        background: $color__black;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        @include opacity(0);
        @include transition(opacity 0.3s ease);
    }

    .sidebar_visible & {
        &:before {
            z-index: 1;
            @include opacity(0.5);
        }
    }

    /* Desktop */
    @include bp(min-width, $desktop) {
        &:before {
            content: '';
            display: block;
            border-left: 1px solid $bd__info;
            height: 100%;
            width: 0;
            position: absolute;
            left: 20%;
            top: 0;
        }
    }

    /* Mobile */
    @include bp(max-width, $tablet - 1) {
        display: block;
    }
}
