/* Color */
$color__default: #474747;
$color__white: #ffffff;
$color__black: #000000;
$color__grey: #949494;
$color__blue: #3a72c7;
$color__pink: #f92672;
$color__yellow: #fec013;
$color__menu_title: #7a8387;
$color__text_grey: #9fa4a6;
$color__text_red: #f46228;
$color__code_blue: #44a9fe;
$color__code_green: #a3e765;
$color__code_purple: #c678dd;
$color__code_red: #ed616c;

/* Background */
$bg__white: $color__white;
$bg__sidebar: #f9fcfd;
$bg__header: #21252b;
$bg__table_code: #f9fafd;
$bg__tab_list: #282c34;

/* Border */
$bd__white: $color__white;
$bd__sign-up: $color__grey;
$bd__info: #ebf1f3;
$bd__table_heading: #c0c0c0;
$bd__table_column: #efeff0;
$bd__table_code: #dfdfdf;

/* Break point */
$full-desktop: 1920px;
$huge-desktop: 1600px;
$large-desktop: 1440px;
$medium-desktop: 1366px;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 480px;

/* Font */
$font-size__default: 16px;

/* Layout */
$header__height: 76px;
