/* Sidebar styles */
.sidebar {
    background: $bg__sidebar;
    display: table-cell;
    width: 20%;
    padding: 0 38px;
}

.sign-up {
    @include clearfix();
    text-align: right;
    position: absolute;
    right: 38px;
    top: -56px;

    &__link {
        @include border-radius(2px);
        border: 1px solid $bd__sign-up;
        color: $color__grey;
        font-size: $font-size__default - 4;
        text-transform: uppercase;
        padding: 10px 19px;
        @include transition();

        &_desktop_right {
            float: right;
            margin-left: 25px;

            &:hover {
                border-color: $bd__white;
            }
        }
    }

    &__text {
        color: $color__grey;
        font-size: $font-size__default - 3;
        line-height: 36px;
    }
}

.menu {
    padding: 30px 0;

    &__title {
        display: block;
        color: $color__menu_title;
        font-size: $font-size__default - 4;
        @include font-proximanova-bold;
        text-transform: uppercase;
        margin: 40px 0 0;

        &:first-child {
            margin: 0;
        }
    }

    &__list {
        margin: 10px 0 0;
    }

    &__item {
        &_active {
            .menu__link {
                color: $color__blue;
            }

            .menu__subitem {
                &:first-child {
                    position: relative;

                    &:before {
                        content: '';
                        display: block;
                        background: url("../images/shape.png") no-repeat center transparent;
                        height: 10px;
                        width: 10px;
                        margin: -5px 0 0;
                        position: absolute;
                        left: -20px;
                        top: 50%;
                    }
                }
            }
        }
    }

    &__link,
    &__sublink {
        color: $color__default;
        display: block;
        line-height: 30px;
    }

    &__sublist {
        padding-left: 30px;
    }
}